@charset "UTF-8";
/* CSS Document */
body {
	background:#F5F5F5;
	background-image:url(../img/black-wallpaper.jpg);
}

div.bblock {
	margin:auto;
	width:1080px;
	padding:10px;
}

div.main {
	width:500px;
	margin:auto;
	margin-top:20px;
	background-color:#FFF;
	padding:5px;
	border:1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
}

form.regi {
	padding:20px 50px 5px;
}

div.log {
	width:500px;
	background-color:#FFF;
	margin:auto;
	padding:2px;
	border:1px solid #e5e5e5;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,.05);
}